<table class="table">
    <thead>
        <tr>
            <th colspan="2"><h2><%- obj.leagueCaption %> Cann Table</h2></th>
        </tr>
        <tr>
            <th colspan="2"><a href="#league/<%- obj.league %>/<%- obj.matchday - 1 %>">&lt;&lt; Matchday <%- obj.matchday - 1 %></a> | Matchday <%- obj.matchday %> | <a href="#league/<%- obj.league %>/<%- obj.matchday + 1 %>">Matchday <%- obj.matchday + 1 %> &gt;&gt;</a></th>
        </tr>
        <tr>
            <th class="col-md-3">Points</th>
            <th class="col-md-9">Teams</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
